.site-banner{
  background: url('/images/bg.png');
  padding-top: 30px;
  min-height: 320px;
  padding-bottom: 115px;
  position: relative;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  &:after {
      content: "";
      background: url('/images/header-background.png');
      background-size: 100% 100%;
      position: absolute;
      left: 0px;
      right: 0px;
      height: 115px;
      padding-bottom: 15px;
      background-color: #fff;
      background-repeat: no-repeat;
      bottom:32px;
  }
}
.banner-content{
  text-align: center;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  h1{
   color: #ffffff;
  }
  p{
    color:#aaaaaa;
    font-size: 18px;
  }
}
.banner-line {
    text-align: right;
    margin-right: -4px;
    margin-top: -45px;
    z-index: 2;
    position: relative;
}
.site-serach{
  position: relative;
  p {
    color: #aaaaaa;
    font-size: 14px;
    padding-top: 10px;
  }
  .form-control{
    height:80px;
    padding-right: 205px;
    font-size: 22px;
    padding-left: 20px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  }
  .btn{
    font-weight: 600;
    width: 190px;
    height: 64px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 20px;
    justify-content: center;
    img{
      margin-left: 15px;
      position: relative;
      top: 12px;
    }
  }
}
